<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="categoryList">
    <!-- LEFT PART -->
        <!-- Header - LEFT PART -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">UserLogo</span>

            <!-- Add category Button - LEFT PART -->
            <form role="form" enctype="multipart/form-data" action="/addCategory" method="post">
            <button type="button" class="btn btn-light text-left" data-toggle="modal" data-target="#categoryModal">
                Add category
            </button>
            <!-- Modal -->
            <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryModalLabel">Add category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="text" name="categoryName" placeholder="Category name">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-light">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </nav>


        <!-- Category list - LEFT PART -->
        <ul class="list-group">
            <li th:each="category : ${categories}" class="list-group-item d-flex justify-content-between align-items-center">
                <a th:href="@{'/category/{id}'(id=${category.id})}" th:text="${category.categoryName}" style="text-decoration: none; color: black">CategoryName</a>
                <span class="badge badge-primary badge-pill badge-light" th:text="${category.taskCount}"></span>
            </li>

        </ul>
</div>
</html>