.no-gutter {
    padding-right:0;
    padding-left:0;
}

.forBody {
    background: url(../image/st.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%
}

.top-buffer {
    margin-top:150px;
}

.top-input {
    margin-top:15px;
    margin-left:28px;
}

