<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="forBody">
<div class="container">
<h1 class="text-center">List of users</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">List of roles</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td><a th:each="role : ${user.roles}" th:text="${role} + ' '"></a></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{'/adminPage/user/{id}'(id=${user.id})}">edit</a></td>
    </tr>
    </tbody>
</table>
<p class="text-left">Click <a th:href="@{/taskManager}">here</a> to see a taskManager.</p>

<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>